:host {
  --badge-width: 18px;
  .container {
    background: #123456;
    color: #fff;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    ul {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      gap: 12px;

      li {
        cursor: pointer;
        img {
          height: 20px;
          width: 20px;
          color: #fff;
        }
      }
      .cart {
        position: relative;
        &:after {
          content: attr(data-after-content);
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          width: var(--badge-width);
          height: var(--badge-width);
          border-radius: 50%;
          background-color: red;
          right: calc(var(--badge-width) / -1.5);
          top: calc(var(--badge-width) / -1.5);
        }
      }
    }
  }
}
