<div class="container">
  <div class="logo"><a smNavigate="/">myStore</a></div>
  <ul class="top-navigation">
    <li><a smNavigate="/profile">profile</a></li>
    <li><a smNavigate="/about">about</a></li>
    <li><a smNavigate="/services">services</a></li>
    <li>
      <span
        (click)="toogleShowCart()"
        class="cart"
        data-after-content="1"
        smSvgIcon="shopping_cart"
      ></span>
    </li>
  </ul>
  <div *ngIf="showCart$ | async" class="showCart">
    <div class="items"></div>
    <div class="actions">
      <a class="remove">
        <span smSvgIcon="remove_shopping_cart"></span>
      </a>
      <a class="checkout" smNavigate="/cart" (click)="toogleShowCart()">
        <span smSvgIcon="shopping_cart_checkout"></span>
      </a>
    </div>
  </div>
</div>
