<div class="container">
  <div class="logo"><a smNavigate="/">myStore</a></div>
  <ul class="top-navigation">
    <li><a smNavigate="/profile">profile</a></li>
    <li><a smNavigate="/about">about</a></li>
    <li><a smNavigate="/services">services</a></li>
    <li>
      <span
        (click)="toogleShowCart()"
        class="cart"
        data-after-content="0"
        smSvgIcon="shopping_cart"
      ></span>
    </li>
  </ul>
  <ng-container *ngIf="totalItem">
    <div *ngIf="showCart$ | async" class="showCart">
      <ol class="items">
        <li class="each-item bold">
          <p>item</p>
          <p>price</p>
          <p>quantity</p>
        </li>
        <li *ngFor="let item of cartItems$ | async" class="each-item">
          <p>{{ item.title | shorten }}</p>
          <p>{{ item.price }}</p>
          <p>{{ item.quantity }}</p>
        </li>
      </ol>
      <div class="actions">
        <a class="remove">
          <span (click)="deleteAll()" smSvgIcon="remove_shopping_cart"></span>
        </a>
        <a class="checkout" smNavigate="/cart" (click)="toogleShowCart()">
          <span smSvgIcon="shopping_cart_checkout"></span>
        </a>
      </div>
    </div>
  </ng-container>
</div>
