:host {
  --badge-width: 18px;
  .container {
    position: relative;
    background: #123456;
    color: #fff;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    .logo {
      display: flex;
      gap: 12px;
    }
    a {
      color: #fff;
      text-decoration: none;
      &:visited {
        color: #fff;
      }
    }
    ul {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      gap: 12px;

      li {
        cursor: pointer;
        img {
          height: 20px;
          width: 20px;
          color: #fff;
        }
      }
      .cart {
        position: relative;
        fill: #fff;
        &:after {
          content: attr(data-after-content);
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          width: var(--badge-width);
          height: var(--badge-width);
          border-radius: 50%;
          background-color: red;
          right: calc(var(--badge-width) / -2);
          top: calc(var(--badge-width) / -2);
        }
      }
    }
    .showCart {
      position: absolute;
      right: 6px;
      top: 30px;
      border-radius: 12px;
      background-color: #fff;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      padding: 12px;
      z-index: 10;
      display: flex;
      flex-direction: column;
      gap: 12px;
      .items {
        display: flex;
        flex-direction: column;
        .each-item {
          color: gray;
          display: flex;
          justify-content: space-between;
          font-size: 12px;
          padding: 12px 0;
          gap: 36px;
          p {
            flex-basis: 25%;
          }
          p:first-child {
            flex-basis: 50%;
          }
          &.bold {
            font-weight: bold;
          }
        }
        li:not(:last-child) {
          border-bottom: 1px solid gray;
        }
      }
      .actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .remove {
          fill: red;
          cursor: pointer;
          border: none;
        }
        .checkout {
          fill: green;
          cursor: pointer;
          border: none;
        }
      }
    }
  }
}
