<div *ngIf="cartItem" class="cart-item">
  <div class="image">
    <img [src]="cartItem.image" alt="image" />
  </div>
  <div class="details">
    <p>{{ cartItem.title }}</p>
    <div class="quantity">
      <span (click)="removeFromCart()" [smSvgIcon]="'minus'"></span>
      <p>{{ cartItem.quantity }}</p>
      <span (click)="onAddToCart()" [smSvgIcon]="'add'"></span>
    </div>
    <p>{{ Math.floor(price) }}</p>
  </div>
  <div (click)="deleteFromCart()" class="icon">
    <span [smSvgIcon]="'delete'"></span>
  </div>
</div>
<hr />
