:host {
  .container {
    display: flex;

    .products {
      flex-basis: 70%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 12px;
      padding: 12px;
    }
    .is-loading {
      min-height: 90dvh;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
    }
  }
}
