<div class="container">
  <div *ngIf="!(isLoading$ | async) && !(isError$ | async)">
    <app-card
      [categories]="category$ | async"
      (onCategorySelected)="selectCategory($event)"
      (onSort)="selectSort($event)"
    ></app-card>

    <main class="products">
      <app-product
        *ngFor="let product of products$ | async"
        [product]="product"
      ></app-product>
    </main>
  </div>
  <div *ngIf="isLoading$ | async" class="is-loading">
    <app-spinner style="display: block"></app-spinner>
  </div>
  <div *ngIf="!(isLoading$ | async)" class="is-loading">
    <p class="error">{{ isError$ | async | json }}</p>
  </div>
</div>
