:host {
  --no-of-cols: 1;
  .each-product {
    .image {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        max-width: 100%;
        height: 200px;
        object-fit: contain;
        display: block;
      }
    }
    .details {
      .description {
        display: -webkit-box;
        -webkit-line-clamp: var(--no-of-cols);
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
