:host {
  .container {
    max-width: 1000px;
    height: 4dvh;
    margin: auto;

    .header {
    }
    .pages {
      min-height: 90dvh;
    }
    .footer {
      background-color: #123456;
      color: #fff;
      padding: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
