:host {
  .container {
    max-width: 600px;
    margin: 12px auto;
    border: 1px solid gray;
    border-radius: 12px;
    padding: 12px;
    h2 {
      text-align: center;
      margin-bottom: 24px;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 12px;
      label {
        display: flex;
        flex-direction: column;
        gap: 3px;
        input {
          padding: 6px;
          border-radius: 6px;
        }
      }
      button {
        padding: 6px;
        border-radius: 6px;
        transition: all 0.4s ease-in-out;

        &.form-valid {
          cursor: pointer;
          &:hover {
            background-color: rgb(211, 208, 208);
          }
        }
      }
    }
  }
}
