:host {
  .cart {
    min-height: 90dvh;
    .total-amount {
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-weight: bold;
      padding: 12px;
    }
  }
  .empty {
    min-height: 88dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
    p {
      font-size: 24px;
    }
    a {
      text-decoration: none;
      &:visited {
        color: black;
      }
    }
  }
}
